@model AboutVM


<main>
    <section id="informative">
        <div class="my-container">
            <div class="all">
                <div class="image">
                    <img src="./assets/images/about/about.jpg" alt="Podcast visual representation">
                </div>
                <div class="text">
                    <p class="text1">Listen to interesting podcasts in various categories, have fun and learn.</p>
                    <p class="text2">Create your own playlist, like lovely episodes.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="new-podcasts">
        <div class="my-container">
            <div class="section-name"><p>Our Bests</p></div>
            <div class="podcasts">
                @foreach(var episode in Model.Episodes)
                {
                    <div class="podcast">
                        <div class="image">
                            <div class="img">
                                <a href="./signin.html"><img src="~/assets/images/podcasts/@episode.Image" alt=""></a>
                            </div>
                        </div>
                        <div class="informative">
                            <div class="title">
                                <p><a href="./signin.html">@episode.Title</a></p>
                            </div>
                            <div class="description">
                                <p>@episode.Description</p>
                            </div>
                            <div class="number">
                                <p>@episode.Likes.Count() like</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <section id="best-podcasters">
        <div class="my-container">
            <div class="section-name"><p>Our Team</p></div>
            <div class="podcasters owl-carousel">
                @foreach(var teamMember in Model.TeamMembers)
                {
                    <div class="podcaster">
                        <img src="~/assets/images/home/@teamMember.Image" alt="">
                        <a href="./signin.html"><p>@teamMember.FirstName @teamMember.LastName</p></a>
                    </div>
                }
            </div>
        </div>
    </section>
</main>